/* Style Navbar */
nav {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Style Sections */
section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

/* Style Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* Di dalam berkas style.css */
.link-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.link-button a {
    color: #fff;
    text-decoration: none;
}

/* Untuk layar yang lebih kecil dari 600px */
@media only screen and (max-width: 600px) {
    /* Ubah warna latar belakang navbar */
    nav {
        background-color: #007bff;
    }

    /* Ubah warna teks navbar */
    nav a {
        color: #fff;
    }

    /* Ubah tampilan list menu menjadi blok */
    nav ul li {
        display: block;
        margin: 10px;
    }

    /* Ubah lebar tombol menjadi 100% */
    .link-button {
        width: 100%;
    }
}

/* Tambahkan efek hover pada tombol */
.link-button:hover {
    transform: scale(1.1);
}

/* Tambahkan efek hover pada teks di dalam tombol */
.link-button a:hover {
    transform: rotate(10deg);
}
